.balloony-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    user-select: none;
    line-height: 40px;
    /* might have to remove the overflow attribute */
    overflow: hidden; 
    /* overflow-x: hidden; */
}

.balloony-navigation {
    flex: 1;
    /* visibility: hidden; */
}

.balloony-navigation-button {
    background-color: #000;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.balloony-navigation-button:hover {
    background-color: #fff;
    color: #000;
    border-style: solid;
    border-color: #000;
    cursor: pointer;
    user-select: none;
}

.balloony-pages {
    flex: 3;
}

.balloony-title {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 60px;
    line-height: 65px;
}

.balloony-narration {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
}

#balloony-slug-letter-text {
    position: relative;
    font-family: 'Dancing Script', cursive;
    /* font-size: 20px; */
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    line-height: 25px;
    text-align: left;
}

.balloony-pop {
    font-weight: bold; 
    padding: 20px;
}

.balloony-pichk {
    font-weight: bold; 
    font-size: 50px;
}

.balloony-crow-letter {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

#balloony-crow-letter-text {
    position: relative;
    font-family: 'Shadows Into Light', cursive;  
    /* font-size: 20px; */
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    padding: 40px;
}

#balloony-crow-letter-text::before {
    content:"";
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-style: solid;
    border-width: 80px 80px 0 0;
    border-color: #f1f1f1 #fff;
    transition: all ease 0.8s;
    border-radius: 5px 0 0 0;
}

#cballoony-row-letter-text:hover {
    border-color: #ffffff;
    background-color: #f1f1f1;
}

#balloony-crow-letter-text:hover::before {
    border-width: 130px 130px 0 0;
    border-color: #c3c3cc #fff;
    border-radius: 5px 0 0 0;
}

#balloony-crow-letter-text-front {
    display: block;
}

#balloony-crow-letter-text-back {
    display: none;
}

.balloony-img {
    width: 50%;
    height: auto;
}